package datasources

import (
	"context"
	"strings"

	"github.com/hashicorp/terraform-plugin-framework/datasource"
	"github.com/hashicorp/terraform-plugin-framework/datasource/schema"
	"github.com/hashicorp/terraform-plugin-framework/diag"
	"github.com/hashicorp/terraform-plugin-framework/types"
	"github.com/koki-develop/terraform-provider-html/internal/util"
)

var (
	_ datasource.DataSource = &datasource_{{ .Name }}{}
)

func newDatasource_{{ .Name }}() datasource.DataSource {
	return &datasource_{{ .Name }}{}
}

type datasource_{{ .Name }} struct{}

func (d *datasource_{{ .Name }}) Metadata(_ context.Context, req datasource.MetadataRequest, resp *datasource.MetadataResponse) {
	resp.TypeName = req.ProviderTypeName + "_{{ .Name }}"
}

func (d *datasource_{{ .Name }}) Schema(_ context.Context, _ datasource.SchemaRequest, resp *datasource.SchemaResponse) {
	resp.Schema = schema.Schema{
		MarkdownDescription: "{{ .Description | escapeQuote }}\n\nFor more information, see the [documentation]({{ .URL }}).",
		Attributes: map[string]schema.Attribute{
			"children": schema.ListAttribute{
				ElementType:         types.StringType,
				MarkdownDescription: "The children of the element.",
				Optional:            true,
			},

			{{- range .Attributes }}
			"{{ .Name | dashToUnderscore }}": schema.DynamicAttribute{
				MarkdownDescription: "{{ .Description | escapeQuote }}{{ if .URL }} ([Documentation]({{ .URL }})){{ end }}",
				Optional:            true,
			},
			{{- end }}

			"html": schema.StringAttribute{
				MarkdownDescription: "The html of the element.",
				Computed:            true,
			},
		},
	}
}

type datasource_{{ .Name }}Model struct {
	Children types.List `tfsdk:"children"`

	{{- range .Attributes }}
	{{ .Name | title }} types.Dynamic `tfsdk:"{{ .Name | dashToUnderscore }}"`
	{{- end }}

	HTML types.String `tfsdk:"html"`
}

func (d *datasource_{{ .Name }}) Read(ctx context.Context, req datasource.ReadRequest, resp *datasource.ReadResponse) {
	d.handleRequest(ctx, &req.Config, &resp.State, &resp.Diagnostics)
}

func (d *datasource_{{ .Name }}) handleRequest(ctx context.Context, g util.ModelGetter, s util.ModelSetter, diags *diag.Diagnostics) {
	util.HandleRequest(
		ctx,
		&datasource_{{ .Name }}Model{},
		g,
		s,
		diags,
		func(m *datasource_{{ .Name }}Model) bool {
			html := new(strings.Builder)
			{{- if eq .Name "html" }}
			html.WriteString("<!DOCTYPE html>")
			{{- end }}
			html.WriteString("<{{ .Name }}")

			attrs := []string{}
			{{- range .Attributes }}
			if !m.{{ .Name | title }}.IsNull() {
				attr, err := util.StringifyAttribute(ctx, "{{ .Name }}", m.{{ .Name | title }})
				if err != nil {
					diags.AddError("invalid {{ .Name }} attribute", err.Error())
					return false
				}
				attrs = append(attrs, attr)
			}
			{{- end }}

			if len(attrs) > 0 {
				html.WriteString(" ")
				html.WriteString(strings.Join(attrs, " "))
			}

			if m.Children.IsNull() {
				if len(attrs) > 0 {
					html.WriteString(" ")
				}
				html.WriteString("/>")
			} else {
				html.WriteString(">")

				var children []string
				d := m.Children.ElementsAs(ctx, &children, true)
				diags.Append(d...)
				if diags.HasError() {
					return false
				}
				for _, child := range children {
					html.WriteString(child)
				}
				html.WriteString("</{{ .Name }}>")
			}

			minified, err := util.MinifyHTML(html.String())
			if err != nil {
				diags.AddError("failed to minify html", err.Error())
				return false
			}

			m.HTML = types.StringValue(minified)
			return true
		},
	)
}

func init() {
	register(newDatasource_{{ .Name }})
}
